# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
#	name = Ubuntu
#	email = ayushisaini2min@ayushisaini2min.bo4tcmixbjkezflclopivbiuhc.gx.internal.cloudapp.net
